/*ChangeLog Modal PopUp Window*/
.logve{
    position: fixed;
    top: 30%;
    left: 30%;
    background: #fff;
    width: 650px;
    height: 300px;
    z-index: 99999;
    border: 3px solid;
}
.closeModCL,
.closeModSM{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 28px;
}
.closeModSM{
    color: #fff;
}
.logve>h1{
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: #000;
    line-height: 20px;
    margin-top: 28px;
}
.logve>ul{
    margin-left: 20px;
}
.logve>ul li>.childul{
    margin-left: 20px;
}
.logve>.author,
.settingsMod>.author{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Raleway-ExtraBold;
}


/*Settings button*/
#satcSetBtn{
    margin-top: 11px;
    border-color: #2948b9;
    color: #8383ef;
}
#satcSetBtn:hover{
    color: #fff;
}

/*Settings PopUp Window*/
.settingsMod{
    position: fixed;
    top: 30%;
    left: 30%;
    background: #fff;
    width: 650px;
    height: 200px;
    z-index: 99999;
}
.settingsMod .offer_head>h3{
    color: #fff;
    font-family: Raleway-ExtraBold;
    margin-left: 0;
}
.settingsMod .offer_head{
    text-align: center;
}

.settingsMod ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style-type: none;
}


/*checkbox stylesheets*/
/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
 
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 3px;
}
 
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
.label{
    color: #000;
    font-size: 14px;
}
 
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "\2713";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
    top: -2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
     border-radius: 2px;
     font-size: 16px;
}