.logve{
    position: absolute;
    top: 40%;
    left: 40%;
    background: #fff;
    width: 650px;
    height: 200px;
    z-index: 99999;
    border: 1px solid #026194;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 28px;
}