.logve{
    position: fixed;
    top: 30%;
    left: 30%;
    background: #fff;
    width: 650px;
    height: 200px;
    z-index: 99999;
    border: 1px solid #026194;
}
.closeMod{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 28px;
}
.logve>h1{
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: #000;
    line-height: 20px;
    margin-top: 28px;
}
.logve>ul{
    margin-left: 20px;
}
.logve>.author{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Raleway-ExtraBold;
}